body {
    font-family: 'Roboto Slab', serif;
}

.color {
    margin-left: 2px;
    border-left: 5px solid;
    border-image: linear-gradient(rgb(45, 149, 214), cyan);
    border-image-slice: 1;
}

.button {
    height: 10px;
    text-decoration: none;
    color: rgb(239, 243, 243);
    padding: 5px;
    background-color: rgb(40, 225, 235);
    border-radius: 5px;
}

.mission-2022 {
    font-size: 700;
    color: rgb(131, 238, 238);
}

.section-1st {
    display: flex;
}

.common {
    margin-left: 5%;
    width: 50%;
}

.common img {
    width: 40%;
}

.second-section {
    width: 50%;
    height: 20px;
}

#my-mission {

    text-align: center;
    font-size: 500;
    font-weight: 700;
}

.div-three {
    display: flex;
    width: 142%;
    margin-left: 2%;
}

.div-three-one {
    margin-left: 5%;
    padding: 2%;
    border-radius: 5%;
    background-color: rgb(216, 228, 228);
}

.div-three-one img {
    width: 80px;
}

.div-three-two {
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 5%;
    background-color: rgb(241, 231, 241);
}

.div-three-two img {
    width: 80px;
}

.div-three-third {
    margin-left: 1%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 5%;
    background-color: rgb(241, 236, 226);
}

.div-three-third img {
    width: 80px;
}